
@font-face {
  font-family: 'Aquino-Demo';
  src: url('assets/fonts/Aquino-Demo.eot');
  src: url('assets/fonts/Aquino-Demo.woff') format('woff'), url('assets/fonts/Aquino-Demo.ttf') format('truetype'), url('assets/fonts/Aquino-Demo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('assets/fonts/din-regular-webfont.eot');
  src: url('assets/fonts/din-regular-webfont.woff') format('woff'), url('assets/fonts/din-regular-webfont.ttf') format('truetype'), url('assets/fonts/din-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Black';
  src: url('assets/fonts/DIN-Black.eot');
  src: url('assets/fonts/DIN-Black.woff') format('woff'), url('assets/fonts/DIN-Black.ttf') format('truetype'), url('assets/fonts/DIN-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Medium_Alternate';
  src: url('assets/fonts/DIN-Medium_Alternate.eot');
  src: url('assets/fonts/DIN-Medium_Alternate.woff') format('woff'), url('assets/fonts/DIN-Medium_Alternate.ttf') format('truetype'), url('assets/fonts/DIN-Medium_Alternate.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


.container
{
	width: 100% !important;
	padding-left: 0;
	padding-right: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
background: linear-gradient(to right,  #ed6086 0%,#eedad9 100%,#eedad9 100%);
}


/********** Spinner ***************/

#loading
{
    background-color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    /*display: none;*/
}

.spinner_logo
{
/*    transform-origin: center;
  transform: rotate(309deg);*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/******************************************/

.main_container
{
  /*display: none;*/
}

/********** Header ******************/

.header
{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40px;
  /*padding: 40px;
  padding-top: 3%;
  padding-bottom: 0;*/
}

.header span
{
  font-family: 'Aquino-Demo';
  font-size: 15px;
  color: #fff;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  /* margin-bottom: 15px; */
  letter-spacing: 2px;
  text-transform: uppercase;
  border: solid 2px transparent;
  padding: 5px;
  border-radius: 6px;
  background: transparent;
}

.header span:hover
{
  border-color: #fff;
  cursor: pointer;
}

.header_2 span:hover
{
  border-color: #ed6086;
  cursor: pointer;
}

.n_logo:hover
{
  opacity: 0.75;
  cursor: pointer;
}


/**********************************************/

/********* Nav Bar Mobile **********/


.mobile_nav
{
  display: none;
}

.header
{
  z-index: 999;
}

.navbar-brand
{
  height: inherit;
  padding: 0;
  padding-left: 10px;
}

.navbar-default
{
  background: none;
  border: none;
}
.navbar-toggle
{
  margin-top: 18px;
}

.container-fluid
{
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-toggle .icon-bar
{
  background-color: #ed6086;
}

.navbar-default .navbar-toggle 
{
    /*border-color: #ed6086;*/
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
    /*background-color: #ed6086;*/
    background: none;
}

.navbar-default .navbar-toggle:hover .icon-bar
{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus .icon-bar
{
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  /*border-color: #ed6086;*/
  border: none;
}

.navbar-nav .menu_spans
{
  font-family: 'Aquino-Demo';
  color: #ed6086 !important;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  background-color: rgba(255, 255, 255, 1);
}

.header_2
{
  position: fixed;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.7) !important; 
  top: 0;
  padding-bottom: 5px !important;
}

.header_2 span
{
  color: #ed6086;
}
/***********************************/

.top_div
{
  width: 100%;
}

.top_div_2
{
  padding-top: 70px;
}

.top_div img
{
  width: 100%;
}

.bot_div
{
  width: 100%;
  background-color: #fff;
}
.bot_rows_1
{
  width: 100%;
  height: 65px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed6086+0,eedad9+100,eedad9+100 */
background: #ed6086; /* Old browsers */
background: -moz-linear-gradient(left,  #ed6086 0%, #eedad9 100%, #eedad9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ed6086 0%,#eedad9 100%,#eedad9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ed6086 0%,#eedad9 100%,#eedad9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6086', endColorstr='#eedad9',GradientType=1 ); /* IE6-9 */

}

.bot_div .bot_rows_1:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.bio_row
{
  padding: 15px;
  padding-left: 4%;
  margin-bottom: 5px;
}

.bio_row span
{
  float: left;
  font-family: 'Aquino-Demo';
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
}

.signs
{
  float: right;
  margin-top: 6px;
}

.signs:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.minus_sign, .bot_cont_div
{
  display: none;
}

.bot_cont_div
{
  padding: 20px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 20px;
  /*padding-top: 2%;*/
}

/****************** Biography  **********************/

.bio_text_div_left, .bio_text_div_right
{
  padding-left: 0;
  padding-right: 0;
}

.bio_text p
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
  padding: 10px;
  padding-left: 0;
}

/************************************************/

/****************** News  **********************/

.bot_rows
{
  position: relative;
}

.news_row
{
  padding-left: 110px;
}

.year_span
{
  position: absolute;
  top: 28px;
  left: -44px;
  -webkit-transform: rotate(-90deg); 
 -moz-transform: rotate(-90deg); 
 /*font-family: 'Myriad Pro';*/
 font-family: 'DIN-Medium_Alternate';
 font-size: 21px;
 color: #fff;
}

.year_column
{
  background: #ed6086;
  background: -moz-linear-gradient(top, #ed6086 0%, #eedad9 94%, #eedad9 100%, #2989d8 100%, #207cca 100%);
  background: -webkit-linear-gradient(top, #ed6086 0%,#eedad9 94%,#eedad9 100%,#2989d8 100%,#207cca 100%);
  background: linear-gradient(to bottom, #ed6086 0%,#eedad9 94%,#eedad9 100%,#2989d8 100%,#207cca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6086', endColorstr='#207cca',GradientType=0 );
  position: absolute;
  top: 90px;
  left: 70px;
  width: 25px;
  height: 1420px;
  display: none;
}
.news_row_title
{
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 2%;
  margin-bottom: 5px;
  background: #ed6086; /* Old browsers */
  background: -moz-linear-gradient(left,  #ed6086 0%, #eedad9 100%, #eedad9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ed6086 0%,#eedad9 100%,#eedad9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ed6086 0%,#eedad9 100%,#eedad9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6086', endColorstr='#eedad9',GradientType=1 ); /* IE6-9 */
}

.news_span_1, .news_span_2, .news_span_5
{
  font-family: 'Aquino-Demo';
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.news_span_1
{
  display: block;
}

.news_span_3
{
  /*font-family: 'Myriad Pro';*/
  font-family: 'DIN-Medium_Alternate';
  color: #fff;
  font-size: 21px;
}

.news_span_4
{
  font-family: 'DIN-Medium_Alternate';
  color: #fff;
  font-size: 21px;
}

.news_row_cont
{
  margin-bottom: 15px;
}

.news_row_desc_2
{
  display: none;
}

.news_row_desc_1, .news_row_desc_2
{
  padding-left: 0;
  padding-right: 0;
  float: none !important;
}

.news_row_desc_1 p, .news_row_desc_2 p
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

.news_more_btn
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
}

.news_more_btn img
{
  margin-right: 5px;
}

.news_more_btn:hover
{
  opacity: 0.75;
  cursor: pointer;
}

.col_1
{
  padding-left: 0;
}

.col_1 p, .col_2 p
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

/************************************************/

/****************** Awards  **********************/

.awards_row
{
  padding-left: 110px;
  padding-top: 40px;
}

.awards_single_div
{
  margin-bottom: 50px;
  position: relative;
}

.awards_span
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
  display: block;
}

.awards_special
{
  font-family: 'DIN-Black';
}

.year_span_2
{
  position: absolute;
  top: -1px;
  left: -47px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  /*font-family: 'Myriad Pro';*/
  font-family: 'DIN-Medium_Alternate';
  font-size: 21px;
  color: #fff;
}

.year_column_2
{
  background: #ed6086;
  background: -moz-linear-gradient(top, #ed6086 0%, #eedad9 94%, #eedad9 100%, #2989d8 100%, #207cca 100%);
  background: -webkit-linear-gradient(top, #ed6086 0%,#eedad9 94%,#eedad9 100%,#2989d8 100%,#207cca 100%);
  background: linear-gradient(to bottom, #ed6086 0%,#eedad9 94%,#eedad9 100%,#2989d8 100%,#207cca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed6086', endColorstr='#207cca',GradientType=0 );
  position: absolute;
  top: 90px;
  left: 70px;
  width: 25px;
  height: 1420px;
  display: none;
}

/************************************************/

/****************** Team  **********************/

.team_text
{
  padding-left: 4%;
}

.team_text_div_main
{
  padding-left: 0;
  padding-right: 0;
}

.team_text_div_inner
{
  margin-bottom: 10%;
}

.team_span_1
{
  font-family: 'Aquino-Demo';
  color: #ed6086;
  font-size: 21px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.team_span_2
{
  font-family: 'Aquino-Demo';
  color: #ed6086;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team_text_div_inner p
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
}

/**************************************************/

/****************** Gallery  **********************/

.gallery_cont_div
{
  padding-left: 10%;
  padding-right: 10%;
}

.gallery_image_div
{
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.gallery_image
{
  width: 100%;
}

/**************************************************/

/****************** Social Media  **********************/

/*.fb_div
{
  height: 400px;
}

.fb_div iframe
{
  width: 360px !important;
  height: 400px !important;
}*/
.twitter_span
{
  font-family: 'DIN-Medium_Alternate';
  font-size: 20px;
}

#twitter-widget-0
{
  float: right;
  margin-bottom: 10px;
}

.tweet_btn_div
{
  width: 100%;
  height: 25px;
}

#twitter-widget-2, .fb_iframe_widget iframe
{
  width: 100% !important;
}

#twitter-widget-1
{
  float: right;
}

.fb_div, .twitter_div
{
  width: 50%;
  /*margin-right: 2%;*/
}

.fb_div
{
  padding-left: 9%;
}

.twitter_div
{
  padding-right: 12%;
}

.widgettitle
{
  display: none;
}
/**************************************************/

/****************** Contact Us  **********************/

.contact_us_text_div
{
  padding-left: 0;
}
.contact_us_image
{
  width: 90%;
  margin-bottom: 20px;
}

.contact_us_text_div p
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
}

.form_div
{
  padding-top: 2%;
}

.form_div span
{
  font-family: 'DIN-Regular';
  color: #ed6086;
  font-size: 16px;
}

.form_div, .form_div_inner
{
  padding-left: 0;
}

.form_div textarea, .form_div input
{
  border: solid 2px #ed6086 !important;
  border-radius: 10px; 
  font-family: 'DIN-Regular';
  width: 80%;
  margin-top: 10px;
}

.send_btn
{
  color: #fff;
  background-color: #ed6086;
  border: solid 1px #ed6086 !important;
  margin-left: 10px;
  font-family: 'DIN-Regular';
  margin-top: 30px;
}

.send_btn:hover, .send_btn:focus
{
  color: #ed6086;
  background-color: #fff;
}

/**************************************************/

/****************** Footer  **********************/

.footer
{
  background-color: #ed6086;
  padding: 20px;
}

.f_2
{
  margin-left: -5px !important;
}

.footer_social
{
  display: inline-block;
  margin-right: 5px;
}

.footer_left_div a:hover
{
  opacity: 0.75;
  text-decoration: none;
}

.footer_span_1
{
  font-family: 'Aquino-Demo';
  color: #fff;
  font-size: 15px;
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
}

.footer_span_2
{
  font-family: 'DIN-Medium_Alternate';
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.footer_span_3
{
  font-family: 'Aquino-Demo';
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.footer_right_div
{
  padding-top: 4%;
}

.footer_right_span, .footer_right_img
{
  display: inline-block;
  margin-right: 10px;
  margin-top: 0px;
}

.footer_right_img
{
  width: 120px;
}

.footer_right_span
{
  font-family: 'Aquino-Demo';
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.white_strip
{
  width: 100%;
  height: 5px;
  background-color: #fff;
}

/**************************************************/

/********* Modal ***********/

.md-close, .md-trigger
{
    display: none;
}

.md-close
{
  position: absolute;
  top: -10px;
  right: -10px;
  border: solid 1px #ed6086;
  color: #ed6086;
  background-color: #f4eed6;
}

.md-close:hover
{
  color: #f4eed6;
  background-color: #ed6086;
  border-color: #f4eed6;
}

.md-content > div
{
  padding-bottom: 0 !important;
}

.md-content img
{
    margin-right: 10px;
    width: 5%;
    margin-bottom: 3px;
}

.send_spin, .succ_div
{
  display: none;
  text-align: center;
}

.md-content
{
  background: #ed6086 !important;
  /*border: solid 2px #6f3256;*/
  overflow-y: auto !important;
  overflow-x: inherit;
  max-height: 500px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px !important;
}

.md-modal
{
  min-width: 270px !important;
}

.md-content h3
{
  background: #ed6086!important;
  color: #fff;
  font-family: 'Aquino-Demo';
  letter-spacing: 4px;
  font-size: 17px !important;
  text-transform: uppercase;
  margin-bottom: 20px !important;
  opacity: 1 !important;
}

.gform_wrapper, #gforms_confirmation_message
{
    display: none;
}

/*****************************/

@media screen and (max-width: 1067px) {

  .footer_right_div
  {
    text-align: center;
  }

  .footer_right_span
  {
    display: block;
    padding-top: 1%;
  }

}
@media screen and (max-width: 971px) {

  .fb_div
  {
    padding-left: 0;
  }

}
@media screen and (max-width: 768px) {

  .header
  {
    display: none;
  }

  .mobile_nav
  {
    display: block;
  }

  .bot_rows_1
  {
    height: 58px;
  }

  .signs 
  {
    margin-top: 0px;
  }

  .bio_row span
  {
    font-size: 17px;
  }

  .team_text_div_main
  {
    width: 100%;
    text-align: center;
  }

  .team_text_div_main p
  {
    text-align: left;
  }

  #twitter-widget-0
  {
    float: none;
    margin-bottom: 10px;
  }

  #twitter-widget-1
  {
    float: none;
  }

  .tweet_btn_div_1, .tweet_btn_div_2
  {
    width: 100%;
    text-align: center;
  }

  .fb_div, .twitter_div
  {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    width: 100%;
  }

  .twitter_div
  {
    margin-top: 4%;
    text-align: center;
    padding-right: 0;
  }

  #facebookpagewidget-2, #qrokes-twitterwidget-2
  {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 350px;
  }

  .col_1, .col_2
  {
    padding-left: 0;
  }

  .year_column, .year_column_2
  {
    left: 20px;
  }

  .news_row, .awards_row 
  {
    padding-left: 60px;
  }

  .awards_span
  {
    font-size: 15px;
  }

  .contact_us_text_div
  {
    text-align: center;
  }
  .contact_us_image
  {
    width: 65%;
  }

  .form_div, .form_div_inner
  {
    padding-top: 0;
    width: 100%;
  }

  .form_div textarea, .form_div input
  {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .form_div
  {
    margin-top: 30px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_left_div
  {
    margin-bottom: 10px;
  }

  .footer_left_div, .footer_right_div
  {
    width: 100%;
    text-align: center;
  }

  .footer_right_span
  {
    display: block;
    margin-bottom: 10px;
  }

  .navbar-brand > img
  {
    height: 70px;
  }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
  {
    margin-left: 0;
    margin-right: 0;
  }

  .news_span_1, .news_span_2, .news_span_5
  {
    font-size: 15px;
  }

}